/.tmp/
/node_modules/

/lib/TimelineJS/*
!/lib/TimelineJS/build/
/lib/angular-local-storage/*
!/lib/angular-local-storage/dist/
/lib/bootstrap/*
!/lib/bootstrap/dist/
/lib/jquery/*
!/lib/jquery/dist/

